body{
  background-image: url("https://raksdewji.github.io/Images/background.jpg");
}

.text{
  background-color: white;
  opacity: 0.5;
  margin: 100px;
}

.social{
  margin-top: 215px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
.social-icon:hover{
  text-decoration: none;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h2 {
	border-right: .1em solid black;
	width: 16.5em;
	width: 20ch;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}
